.Form{
    background-color: rgb(241, 241, 241);
    width: 80%;
    align-self: center;
    margin: auto;
    border-radius: 15px;
}

.inputFormNombre{
    background-color: white;
    width: 80%;
    color: black;
    border: rgb(0, 0, 0) 1px solid;
    margin: 1%;
    height: 40px;
    text-align: center;
}

.inputFormEmail{
    background-color: white;
    width: 80%;
    color: black;
    border: rgb(0, 0, 0) 1px solid;
    margin: 2%;
    height: 40px;
    text-align: center;
}

.inputFormMensaje{
    background-color: white;
    width: 80%;
    color: black;
    border: rgb(0, 0, 0) 1px solid;
    margin: 2%;
    height: 140px;
    text-align: center;
}

.textoForm{
    margin: 5%;
    font-size: larger;
}

.tituloForm{
    padding-top: 6%;
}

.divForm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 50px;
}

.divTexto{
    text-align: center;
    align-content: center;
    font-size: larger;
}

.botonEnviarForm{
    background-color: rgba(124, 201, 0, 0.856);
    padding: 10px;
    border: 0.5px solid;
    border-radius: 6px;
    font-weight: bolder;
    font-size: 100%;
    margin: 2%;
    margin-bottom: 20px;
    color: white;
}



@media (min-width : 480px) and (max-width : 900px) {
    .divForm{
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 50px;
    }

}
