

.divServices{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.card_Services{
    margin: 3%;
}


.card_body_Services{
    border: rgb(184, 184, 184) 1px solid;
    border-radius: 10px;
    padding: 5%;
    box-shadow: 5px 10px 10px 5px rgba(1, 89, 118, 0.712);
}


.textoServices{
    font-size: larger;
}

.card_subtitle_Services{
    color: #4e4e4e;
}






